<div id="header" class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container container-full-width">
      <a href="/" class="navbar-brand nav-text">PROJECT_NAME</a>

      <ul class="nav pull-right logged-out nav-text">
        <li><a href="{% url "index" %}">Sign Up</a></li>
        <li><a href="{% url "index" %}">Log In</a></li>
      </ul>

      <ul class="nav pull-right logged-in nav-text">
        <li><a href="#" id="header-logout">Log Out</a></li>
        <li class="divider-vertical"></li>
      </ul>
    </div>
  </div>
</div>
